.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('https://www.lavanguardia.com/files/image_990_484/uploads/2019/04/21/5fa523af58c79.jpeg');
  background-size: cover;
  background-position: right;
}

.desenfoque{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.486);
  padding: 30px;
}


.form{
  max-width: 400px;
  padding: 20px;
  border: 2px solid var(--background-color);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.315);
}

.buscar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
}

.datos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 14px;
}

label {
  font-weight: bold;
  text-align: center;
}

input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eeeeee;
}

span {
  font-weight: bold;
  font-size: 1.2rem;
}

select {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eeeeee;
  margin-top: 2px;
}

option {
  font-size: 1rem;
  font-weight: bold;
  margin: 5px;
}


button {
  width: 100%;
  padding: 10px;
  background-color: var(--primer-color);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

button:hover {
  background-color: color-mix(in srgb, var(--primer-color), #777 10%);
}

@media (max-width: 768px) {
  .container {
    background-size: cover;
  }

  .form {
    width: 60%;
    padding: 10px;
  }

  .datos {
    gap: 2px;
  }

  span {
    font-size: 1rem;
  }

  input, select {
    padding: 5px;
  }

  button {
    padding: 8px;
  }
}

@media (max-width: 475px) {
  .container {
    background-size: cover;
  }

  
  span {
    font-size: 0.8rem;
  }

  .form {
    width: 50%;
    padding: 5px;
  }

  input, select {
    padding: 3px;
    font-size: 0.8rem;
  }

  button {
    font-size: 0.6rem;
    padding:5px;
  }
}